@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.comments{
  .comments-container{
    padding-top: 130px;
    padding-bottom: 130px;

    .comments__title{
      @include head-lora-32;
      text-align: center;
      margin-bottom: 50px;
    }
    .comments__items{
      position: relative;
      svg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .prev{
        left: -41px;
      }
      .next{
        right: -41px;
      }

      .comment{
        border: 2px solid $main-green-color;
        border-radius: 10px;
        width: 396px;
        height: 267px;
        padding: 30px;
        .comment__head{
          display: flex;
          gap: 26px;
          align-items: center;
          margin-bottom: 15px;
          .comment__avatar{
            img{
              width: 60px;
              height: 60px;
              border-radius: 50%;
            }
          }
          .comment__name{
            font-family: $montserrat-semiBold;
            font-size: 16px;
            color: $base-color;
          }
        }
        .comment__text{
          font-family:$montserrat-regular;
          font-size: 16px;
          line-height: 140%;
          color: $second-color;
        }
      }
    }

  }
}
