<div class="comments" id="comments">
  <div class="container comments-container">
    <div class="comments__title">
      Отзывы о Home decor
    </div>
    <div class="comments__items">

      <svg
        (click)="owlCarl.prev()"
        class="prev"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.5551 15C10.4003 15 10.2455 14.9435 10.1233 14.8224L4.81172 9.55746C3.94818 8.70151 3.94818 7.29647 4.81172 6.44052L10.1233 1.17563C10.3596 0.941456 10.7506 0.941456 10.9869 1.17563C11.2231 1.40981 11.2231 1.7974 10.9869 2.03158L5.67526 7.29647C5.28423 7.68407 5.28423 8.31392 5.67526 8.70151L10.9869 13.9664C11.2231 14.2006 11.2231 14.5882 10.9869 14.8224C10.8647 14.9354 10.7099 15 10.5551 15Z"
          fill="#202B21"
        />
      </svg>

      <owl-carousel-o
        #owlCarl
        [options]="customOptions"
      >
        <ng-template
          carouselSlide
        >
          <div class="comment">
            <div class="comment__head">
              <div class="comment__avatar">
                <img
                  src="assets/images/main/comments/avatar-1.png"
                  alt="Ирина"
                >
              </div>
              <div class="comment__name">
                Ирина
              </div>
            </div>
            <div class="comment__text">
              В ассортименте я встретила все комнатные растения, которые меня интересовали. Цены - лучшие в городе. Доставка - очень быстрая и с заботой о растениях.
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>

          <div class="comment">
            <div class="comment__head">
              <div class="comment__avatar">
                <img
                  src="assets/images/main/comments/avatar-2.png"
                  alt="Анастасия"
                >
              </div>
              <div class="comment__name">
                Анастасия
              </div>
            </div>
            <div class="comment__text">
              Спасибо огромное! Цветок арека невероятно красив - просто бомба! От него все в восторге! Спасибо за сервис - все удобно сделано, доставили быстро. И милая открыточка приятным бонусом.
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="comment">
            <div class="comment__head">
              <div class="comment__avatar">
                <img
                  src="assets/images/main/comments/avatar-3.png"
                  alt="Илья"
                >
              </div>
              <div class="comment__name">
                Илья
              </div>
            </div>
            <div class="comment__text">
              Магазин супер! Второй раз заказываю курьером, доставлено в лучшем виде. Ваш ассортимент комнатных растений впечатляет! Спасибо вам за хорошую работу!
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="comment">
            <div class="comment__head">
              <div class="comment__avatar">
                <img
                  src="https://randomuser.me/api/portraits/women/4.jpg"
                  alt="Мария"
                >
              </div>
              <div class="comment__name">Мария</div>
            </div>
            <div class="comment__text">
              Очень понравился сервис! Заказала фикус, доставили быстро, растение здоровое и красивое. Буду заказывать ещё!
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="comment">
            <div class="comment__head">
              <div class="comment__avatar">
                <img
                  src="https://randomuser.me/api/portraits/men/5.jpg"
                  alt="Артём"
                >
              </div>
              <div class="comment__name">Артём</div>
            </div>
            <div class="comment__text">
              Отличный магазин! Большой выбор, приятные цены. Курьер был очень вежливым. Рекомендую всем!
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="comment">
            <div class="comment__head">
              <div class="comment__avatar">
                <img
                  src="https://randomuser.me/api/portraits/women/6.jpg"
                  alt="Светлана"
                >
              </div>
              <div class="comment__name">Светлана</div>
            </div>
            <div class="comment__text">
              Покупала орхидею, всё понравилось. Упаковано аккуратно, доставка вовремя. Спасибо за качество!
            </div>
          </div>
        </ng-template>

      </owl-carousel-o>

      <svg
        (click)="owlCarl.next()"
        class="next"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M5.44392 1C5.59871 1 5.75349 1.05652 5.87569 1.17765L11.1873 6.44254C12.0508 7.29849 12.0508 8.70353 11.1873 9.55948L5.87569 14.8244C5.63944 15.0585 5.2484 15.0585 5.01215 14.8244C4.7759 14.5902 4.7759 14.2026 5.01215 13.9684L10.3238 8.70353C10.7148 8.31593 10.7148 7.68608 10.3238 7.29849L5.01215 2.0336C4.7759 1.79942 4.7759 1.41182 5.01215 1.17765C5.13435 1.0646 5.28914 1 5.44392 1Z"
          fill="#202B21"
        />
      </svg>


    </div>
  </div>
</div>
