@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.catalog {
  .catalog-container {
    padding-top: 100px;
    padding-bottom: 110px;

    .catalog__title {
      font-family: $lora-regular;
      font-size: 36px;
      color: $base-color;
      margin-bottom: 33px;
      margin-left: 317px;
    }

    .catalog__head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-left: 317px;
      margin-bottom: 30px;

      .catalog__applied-filters {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        max-width: 700px;


      }


    }

    .catalog__layout {
      display: flex;

      .catalog__filters {
        display: flex;
        flex-direction: column;
        gap: 12px;
        width: 257px;
        min-width: 257px;
        margin-right: 58px;


      }
      .catalog__not-found{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 324px;
        span {
          font-family: $montserrat-regular;
          font-size: 16px;
          color: $second-color;
        }
      }
      .catalog__loader{
        position: relative;
        width: 100%;
        height: 324px;
      }
      .catalog__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 26px;
        row-gap: 36px;
      }
    }


  }
}

