<div
  class="catalog__applied-filter"
>
  <span>{{ appliedFilter.name }}</span>
  <a (click)="removeAppliedFilter(appliedFilter)">
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_23528_631)">
        <line
          x1="1.93562"
          y1="2.6499"
          x2="13.9564"
          y2="14.6707"
          stroke="#A8ABA7"
          stroke-linecap="round"
        />
        <line
          x1="13.9238"
          y1="2.62996"
          x2="1.90301"
          y2="14.6508"
          stroke="#A8ABA7"
          stroke-linecap="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_23528_631">
          <rect
            width="16"
            height="16"
            fill="white"
          />
        </clipPath>
      </defs>
    </svg>
  </a>

</div>
