@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";
@import "src/assets/styles/data-form";
.order {
  .order-container {
    padding: 86px 179px 107px 100px;

    .order__title {
      @include head-lora-36;
      margin-bottom: 30px;
    }

    .order__content {
      display: flex;
      justify-content: space-between;
      gap: 93px;

      .info {
        display: flex;
        flex-direction: column;
        gap: 14px;

        .info-text {
          display: flex;
          flex-direction: column;
          justify-content: start;
          width: 422px;
          padding: 40px 0 40px 40px;
          border-radius: 5px;
          background: #e7f1e8;

          .info-title {
            font-family: $lora-regular;
            font-size: 26px;
            color: $base-color;
            margin-bottom: 20px;
          }

          .info-text-items {
            display: flex;
            flex-direction: column;
            gap: 10px;

            margin-bottom: 10px;

            .info__text-item {
              font-family: $montserrat-medium;
              font-size: 20px;
              color: $second-color;
              align-items: center;
              display: flex;
              gap: 12px;

              span {
                font-family: $montserrat-regular;
                font-size: 16px;
              }
            }
          }

          .info__subtitle {
            display: flex;
            gap: 12px;
            align-items: center;

            span {
              font-size: 16px;
              color: $second-color;
            }

            font-family: $montserrat-semiBold;
            font-size: 20px;
            color: $second-color;
          }
        }

        .cart__info-actions {
          .cart__btn {
            width: 422px;
          }
        }
      }


    }
  }
}
