<div class="order">
  <div class="container order-container">
    <div class="order__title">Оформление вашего заказа</div>
    <div class="order__content">
      <div
        class="order__form"
        [formGroup]="orderForm"
      >
        <div class="order__delivery">
          <div class="order__delivery-title block-title">Выберите способ доставки</div>
          <div class="order__delivery-actions">
            <button
              class="order__delivery-action"
              (click)="toggleDeliveryType(DeliveryType.delivery)"
              [class.active]="deliveryType === DeliveryType.delivery"
            >Курьером
            </button>
            <button
              class="order__delivery-action "
              (click)="toggleDeliveryType(DeliveryType.self)"
              [class.active]="deliveryType === DeliveryType.self"
            >Самовывоз
            </button>
          </div>
        </div>
        <div class="order__personal">
          <div class="order__personal-title block-title">Заполните личные данные</div>
          <div class="order__personal-inputs">
            <input
              type="text"
              class="order__input"
              placeholder="Фамилия"
              [style]="{'border-color': orderForm.get('lastName')?.invalid && (orderForm.get('lastName')?.dirty || orderForm.get('lastName')?.touched) ? 'red' : ''}"
              formControlName="lastName"
            />
            <input
              type="text"
              class="order__input"
              placeholder="Имя"
              formControlName="firstName"
              [style]="{'border-color': orderForm.get('firstName')?.invalid && (orderForm.get('firstName')?.dirty || orderForm.get('firstName')?.touched) ? 'red' : ''}"
            />
            <input
              type="text"
              class="order__input"
              placeholder="Отчество"
              formControlName="fatherName"
            />
            <input
              type="text"
              class="order__input"
              placeholder="Телефон"
              formControlName="phone"
              [style]="{'border-color': orderForm.get('phone')?.invalid && (orderForm.get('phone')?.dirty || orderForm.get('phone')?.touched) ? 'red' : ''}"
            />
            <input
              type="text"
              class="order__input"
              placeholder="E-mail"
              formControlName="email"
              [style]="{'border-color': orderForm.get('email')?.invalid && (orderForm.get('email')?.dirty || orderForm.get('email')?.touched) ? 'red' : ''}"
            />
          </div>
        </div>
        <div
          class="order__address"
          *ngIf="deliveryType === DeliveryType.delivery"
        >
          <div class="order__address-title block-title">Заполните адрес доставки</div>
          <div class="order__address-inputs">
            <input
              type="text"
              class="order__input street"
              placeholder="Улица"
              formControlName="street"
              [style]="{'border-color': orderForm.get('street')?.invalid && (orderForm.get('street')?.dirty || orderForm.get('street')?.touched) ? 'red' : ''}"
            />
            <input
              type="text"
              class="order__input hows"
              placeholder="№ дома"
              formControlName="house"
              [style]="{'border-color': orderForm.get('house')?.invalid && (orderForm.get('house')?.dirty || orderForm.get('house')?.touched) ? 'red' : ''}"
            />
            <input
              type="text"
              class="order__input entrance"
              placeholder="Подъезд"
              formControlName="entrance"
              [style]="{'border-color': orderForm.get('entrance')?.invalid && (orderForm.get('entrance')?.dirty || orderForm.get('entrance')?.touched) ? 'red' : ''}"
            />
            <input
              type="text"
              class="order__input ap"
              placeholder="№ квартиры"
              formControlName="apartment"
              [style]="{'border-color': orderForm.get('apartment')?.invalid && (orderForm.get('apartment')?.dirty || orderForm.get('apartment')?.touched) ? 'red' : ''}"
            />
          </div>
        </div>
        <div class="order__payment">
          <div class="order__payment-title block-title">Выберите способ оплаты</div>
          <div class="order__payment-inputs">
            <label class="order__payment-input">
              <input
                type="radio"
                value="{{PaymentType.cashToOnline}}"
                formControlName="paymentType"
              />
              <span>Оплата банковской картой в интернет-магазине</span></label>
            <label class="order__payment-input">
              <input
                type="radio"
                name="paymentType"
                value="{{PaymentType.cardToCourier}}"
                formControlName="paymentType"
              />
              <span>Безналичный расчет при получении</span></label>
            <label class="order__payment-input">
              <input
                type="radio"
                name="paymentType"
                value="{{PaymentType.cashToCourier}}"
                formControlName="paymentType"
              />
              <span>Наличный расчет при получении</span></label>
          </div>
        </div>
        <div class="order__comments">
          <div class="order__comments-title block-title">Комментарий к заказу (необязательно)</div>
          <textarea
            placeholder='Оставьте свой комментарий...'
            formControlName="comment"
          >

					</textarea>
        </div>
      </div>
      <div class="info">
        <div class="info-text">
          <div class="info-title">Ваш заказ</div>
          <div class="info-text-items">
            <div class="info__text-item">
              <span>Товаров:</span>
              {{ totalCount }}
            </div>
            <div class="info__text-item">
              <span>Общая стоимость:</span>
              {{ totalAmount }} BYN
            </div>
            <div class="info__text-item">
              <span>Стоимость доставки:</span>
              10 BYN
            </div>
          </div>

          <div class="info__subtitle">
            <span>Итоговая стоимость:</span>
            {{ totalAmount + 10 }} BYN
          </div>
        </div>

        <div class="cart__info-actions">
          <button
            routerLink="/order"
            class="btn cart__btn"
            (click)="createOrder()"
          > Подтвердить заказ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [closable]="true"
>

  <div class="dialog">
    <div class="dialog__title">
      Благодарим за заказ!
    </div>
    <div class="dialog__subtitle">
      Ваш заказ оформлен.
    </div>
    <div class="dialog__text">
      Вся информация о заказе была выслана вам на почту.
    </div>
    <div class="dialog__text">
      Курьер свяжется с вами за два часа до доставки товара.
    </div>
      <img
        src="assets/images/dialog.png"
        alt="Растение"
      >
    <div class="dialog__close" (click)="closeModal()">
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="0.935622"
          y1="0.649902"
          x2="12.9564"
          y2="12.6707"
          stroke="#A8ABA7"
          stroke-linecap="round"
        />
        <line
          x1="12.9238"
          y1="0.629714"
          x2="0.903013"
          y2="12.6505"
          stroke="#A8ABA7"
          stroke-linecap="round"
        />
      </svg>

    </div>

  </div>
</p-dialog>
