<section class="offers">
  <div class="container offers-container">
    <div class="offer offer-instagram">
      <div class="offer__title">Получи скидку 10% в нашем инстаграме!</div>
      <div class="offer__content">
        <img
          src="/assets/images/main/promotion/promo-1.png"
          alt=""
          class="offer__img"
        >
        <div class="offer__content-inner">
          <div class="offer__text">
            Подпишись на наш аккаунт и напиши в direct “хочу промокод”
          </div>
          <div class="offer__btn">
            <a
              class="btn"
              routerLink="/"
            >Получить промокод
            </a>
          </div>
        </div>

      </div>

    </div>
    <div class="offer offer-catalog">
      <div class="offer__title ">Новая коллекция керамических кашпо в наличии</div>
      <div class="offer__content">
        <img
          src="/assets/images/main/promotion/promo-2.png"
          alt=""
          class="offer__img"
        >
        <div class="offer__btn">
          <a
            class="btn"
            routerLink="/catalog"
          >В каталог
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
