@import "../variables";
@import "../mixins";

.form {


  .form__head {
    font-family: $lora-regular;
    font-size: 36px;
    color: $base-color;
    white-space: nowrap;
    margin-bottom: 35px;
    margin-top: 50px;
  }

  .form__items {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .form__item {
      .form__input {
        max-width: 422px;
        width: 100%;
        height: 53px;
        padding: 17px 20px 17px 20px;
      }

      &.checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;
        cursor: pointer;

        .form__checkbox {
          @include input-checkbox;
        }
      }


      .form__checkbox-label {
        word-break: break-word;
        font-size: 16px;
        color: $second-color !important;
        cursor: pointer;
        user-select: none;
      }
    }


  }

  .form__bottom {
    margin-top: 8px;

    .form__bottom-text {
      font-size: 16px;
      line-height: 130%;
      color: $second-color;
      margin-right: 5px;
    }
  }

  .form__link {
    font-size: 16px;
    color: $agree-link-color;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    line-height: 130%;

    &:hover {
      border-bottom-color: $agree-link-color;
    }
  }
}

