@import "variables";

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url('/assets/fonts/Montserrat-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lora-Regular";
  src: url('/assets/fonts/Lora-Regular.woff');
  font-weight: 400;
}


@font-face {
  font-family: "Montserrat-Regular";
  src: url('/assets/fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url('/assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url('/assets/fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}


