
$montserrat-medium: "Montserrat-Medium", sans-serif;
$montserrat-regular: "Montserrat-Regular", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;
$montserrat-semiBold: "Montserrat-SemiBold", sans-serif;
$montserrat-lightItalic: "Montserrat-LightItalic", sans-serif;
$lora-regular: "Lora-Regular", sans-serif;

$black :#000;
$white: #fff;
$arrow-color: #c5c5c5;

$base-color: #202b21;
$second-color: #2c2c2c;

$footer__bg-color: #648f64;

$background-category: #b6d5b9;
$container: 1440px;

$main-green-color: #2a592e;
$input-color-text: #a8aba7;
$agree-link-color: #519057;

$button-background: #456f49;
$button-hover-background: #385d37;
$button-hover-color: #d0e4c1;
$button-disabled-background: #c5c5c5;

$section-color: #a4cba3;


