<main class="main">
  <section class="container main-container">
    <div class="main__content">
      <div class="main__title">
        Создадим сад
        <span>в вашем доме и офисе</span>
      </div>
      <div class="main__subtitle">
        Если в большом городе вы скучаете по природе, ничто не мешает вам превратить в оазис квартиру или офис. И мы
        поможем вам это сделать!
      </div>
    </div>
    <div class="main__img">
      <img src="/assets/images/main/main.png" alt="Главное изображение">
    </div>
    <img src="/assets/images/main/back-1.png" alt="" class="main__back-one">
    <img src="/assets/images/main/back-2.png" alt="" class="main__back-two">
  </section>
  <section-promotion></section-promotion>
  <section-products></section-products>
  <section-delivery></section-delivery>
  <section-comments></section-comments>

  <div class="container map-container" >
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A0d39242f8acd310ee7c14234cd8322a7ec61ff6f6a51f771d714206799098642&amp;source=constructor" width="1440" height="500" frameborder="0"></iframe>
  </div>






</main>
