@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";


.product__card {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
  width: 291px;

  .product__img {
    position: relative;

    img {
      border-radius: 5px;
      width: 100%;
      height: 324px;
    }

    .product__unlike {
      position: absolute;
      top: 12px;
      right: 12px;
      background: transparent;
    }

    .product__like {
      position: absolute;
      top: 15px;
      right: 14px;
      background: transparent;
    }

  }

  .product__header {
    margin-top: 15px;
    font-family: $montserrat-regular;
    font-size: 20px;
    color: $base-color;
    line-height: 130%;
    height: 52px;
    margin-bottom: 18px;
  }

  .product__group {
    padding: 0 4.5px 0 4.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .product__price {
      display: flex;
      font-family: $montserrat-semiBold;
      font-size: 22px;
      color: $base-color;
      line-height: 130%;
    }

    .btn {
      width: 166px;
      height: 51px;
      box-sizing: border-box;

    }
  }

  .product__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;


    .product__link {
      display: flex;
      align-items: center;
      gap: 8px;
      font-family: $montserrat-regular;
      font-size: 16px;
      color: #9aa89b;
      transition: all .3s ease;
      &:hover {
        svg{
          transition: all .3s ease;
          circle{
            transition: all .3s ease;
            fill: $base-color;
          }


        }
        color: $base-color;
      }
    }
  }
}
