@import "../variables";

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  top:calc(50% - 24px);
  left:calc(50% - 24px);

  border: 4px solid $arrow-color;       /* фон */
  border-top-color: $background-category;       /* цвет индикатора */
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
