@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";


.carousel{
  display: flex;
  flex-direction: column;
  gap: 50px;
  .carousel__header {
    display: flex;
    justify-content: space-between;

    .carousel__title {
      @include head-lora-32;
    }

    .carousel__arrows {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}


